:root {
    --light-primary-color: #B5C4EE;
    --medium-primary-color: #4B4EAA;
    --dark-primary-color: #260242;
    --light-secondary-color: #FCF5E2;
    --medium-secondary-color: #D9C9B9;
    --light-tertiary-color: #F3715F;
    --medium-tertiary-color: #EF5952;
    --dark-tertiary-color: #C4354A;
}